<%- include("templates/header") %>

    <h2>Welcome, <%= user.name %>!</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="/images/1.gif" class="card-img-top" alt="GIF 1">
                <div class="card-body">
                    <p class="card-text">Goku Kaioken</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/2.gif" class="card-img-top" alt="GIF 2">
                <div class="card-body">
                    <p class="card-text">Goku Super Saiyan</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/3.gif" class="card-img-top" alt="GIF 3">
                <div class="card-body">
                    <p class="card-text">Goku and Vegeta SSGSS</p>
                </div>
            </div>
        </div>
    </div>

    <%- include("templates/footer") %>